{% extends 'base.html.twig' %}

{% block body %}
    <div id="canvasDiv"></div>

    <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
    <script src="{{ asset('js/drawing.js') }}"></script>
    <script type="text/javascript">
        drawingApp.init("{{ outline }}");
    </script>
{% endblock %}



