{% extends 'base.html.twig' %}

{% block body %}
    {% for category in categories %}
        <a href="{{ path('category_id',{'id':category.id}) }}">{{  category.name}}</a>
    {% endfor %}
{% endblock %}
