html, body {
    height: 100%;
}
.wraper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
body>footer, .push {
    height: 4em;
}
body>footer, 
.navbar-default {
    background-color: #4B046B;
 //   background-color: #98F612;
}
.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
    color: #FCFCFC;
//    color: #4B046B;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #98F612;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #98F612;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
background-color: #98F612;
}
.row>div {
    position: initial !important;
}
header {
position: fixed;
width: 100%;
top: 0px;
left: 0px;
}
.body-container {
margin-top: 50px;
}

canvas {
	position: absolute;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}