{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('admin_categories_delete', {'id': category.id}) }}"
                  method="POST">
                <fieldset>
                    <legend>Изтриване на категория</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Име на категория</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_title" placeholder="Име" name="category[name]" value="{{ category.name }}" disabled>
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('admin_categories') }}">Отказ</a>
                            <button type="submit" class="btn btn-danger">Изтрий</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
